<% provide(:title, "ログイン") %>  

    <div class="mb-4">
      <h1>ログイン</h1>
    </div>

    <div class="row">
      <div class="margin-left">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="mb-4">
            <%= f.label :email, class:'form-label' %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control w-75' %>
          </div>

          <div class="mb-4">
            <%= f.label :password, class:'form-label' %><br/>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control w-75' %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="mb-4">
              <label>
                <%= f.check_box :remember_me %>
                <span>次回から自動でログイン</span>
              </label>
            </div>
        <% end %>

          <div class="mb-4">
            <%= f.submit "ログイン", class: "btn btn-outline-success  w-75" %>
          </div>
          
        <% end %>
      <%= render "users/shared/links" %>
  </div>
<div>