<% provide(:title, @book.title) %>
   <div class = "bottom-show">
      <div class="row">
         <div class =  "space">
            <h1 class = "brown"><%= @book.title %></h1>
               <div class = "sucoshi3">
                  <p>
                     <% if @book.picture? %>
                        <%= image_tag @book.picture.thumb250.to_s %>
                     <% else %>      
                        <%= image_tag 'cats240.jpg' , class: "book-defult", alt: "ブックデフォルト" %>
                     <% end %>   
                     </p>
                     <div class = "sucoshi3">
                           <%= render "layouts/range" %>
                     </div>
                        <p>
                           総ページ数:<%= @book.page %>
                        </p>
                     <div class = "sucoshi">
                        <p>
                           出版日:<%= l @book.new_date %>
                        </p>
                     </div>
                     <div class = "sucoshi">
                        <p>
                           作者:<%= @book.author %>
                        </p>
                     </div>
                     <div class = "sucoshi">
                        <p>
                           作成日:<%= l @book.created_at %> / 更新日:<%= l @book.updated_at%>
                        </p>
                     </div>
                     <p>
                        <%= link_to "編集", edit_book_path(@book.id), style: 'color:  rgb(91, 33, 0);' %>
                        <%= link_to "削除", @book, method: :delete, data: { confirm: "#{@book.title}を削除しますか？" } , style: 'color: rgb(91, 33, 0);' %>
                     </p>
            </div>
      </div>
   </div>
<%= link_to image_tag("/yaji2.png", class:"turn"), books_path  %>