<!--本の情報-->
<% provide(:title, @book.title) %>
   <div class = "book-show">
      <div class="container">  
         <div class="row">
            <div class="mb-4">
               <h1><%= @book.title %></h1>
                  <div class = "mb-4">

               <p>
                  <% if @book.image? %>
                     <%= image_tag @book.image.url ,style:'border: solid rgb(91, 33, 0) 2px;'%>
                  <% else %>      
                     <%= image_tag 'cats240.jpg' , class: "book-defult", alt: "ブックデフォルト" %>
                  <% end %>   
               </p>

                  <div class="mb-4">
                     <%= render partial: 'layouts/range', locals: { article: @page} %>
                  </div>

                  <div class="mb-4">
                     <p class="form-label">総ページ数: <%= @book.pages %>p</p>
                  </div>

                  <div class="mb-4">
                     <p class="form-label">出版日: <%=@book.new_date %></p>
                  </div>

                  <div class="mb-4">
                     <p class="form-label">作者: <%= @book.author %>さん</p>
                  </div>

                  <div class="mb-4">
                     <p class="form-label">作成日: <%= time_ago_in_words(@book.created_at) %>   /   更新日: <%= time_ago_in_words(@book.updated_at) %></p>
                  </div>

                  <p>
                     <%= link_to "編集", edit_book_path(@book.id), style: 'color:  rgb(91, 33, 0);' %>
                     <%= link_to "削除", @book, method: :delete, data: { confirm: "#{@book.title}を削除しますか？" } , style: 'color: rgb(91, 33, 0);font-size:15px;text-decoration: none;' %>   
                  </p>

         </div>
      </div>
   </div>
<%= link_to image_tag("/yaji2.png", class:"turn"), books_path  %> 
